.error_img {
    margin-left: 416px;
    max-height: 500px;
    max-width: 300px;
}

.homepage_css {
    color: orangered;
}

.homepage_css:hover {
    text-decoration: none;
    color: darkorange;
}

.error_code {
    text-align: center;
    font-size: 40px;
    color: #f05356;
}